.center {
    display: flex;
    justify-content: center;
}

.ring {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 7px dashed red;
    animation: rotate infinite 1s linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}